body {
  background-color: lightblue;
}

.hidden {
  display: none;
}

.deadPlant {
  filter: brightness(0%); 
}

#plantPicker {
  text-align: center;
  margin: 20px;
}

#plantValues {
  text-align: center;
  margin: 20px;
}

#plantDiv {
  text-align: center;
  margin: 20px;
}

#plantImg {
  margin-left: auto;
  margin-right: auto;
  display: block;
}